.rolling-slider {
  display: block;
  height: 550px;
  position: relative;
  overflow: hidden;
}
.rolling-slider .item {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: rotate(-90deg) translateX(100px);
  -moz-transform: rotate(-90deg) translateX(100px);
  -ms-transform: rotate(-90deg) translateX(100px);
  -o-transform: rotate(-90deg) translateX(100px);
  transform: rotate(-90deg) translateX(100px);
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}
.rolling-slider .item > * {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  -webkit-clip-path: circle(50px);
  clip-path: circle(50px);
}
.rolling-slider .item:first-child {
  visibility: visible;
  -webkit-transform: rotate(190deg) translateX(500px);
  -moz-transform: rotate(190deg) translateX(500px);
  -ms-transform: rotate(190deg) translateX(500px);
  -o-transform: rotate(190deg) translateX(500px);
  transform: rotate(190deg) translateX(500px);
}
.rolling-slider .item:first-child > * {
  -webkit-transform: translate(-50%, -50%) rotate(-190deg);
  -moz-transform: translate(-50%, -50%) rotate(-190deg);
  -ms-transform: translate(-50%, -50%) rotate(-190deg);
  -o-transform: translate(-50%, -50%) rotate(-190deg);
  transform: translate(-50%, -50%) rotate(-190deg);
}
.rolling-slider .item:nth-child(2) {
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: rotate(170deg) translateX(500px);
  -moz-transform: rotate(170deg) translateX(500px);
  -ms-transform: rotate(170deg) translateX(500px);
  -o-transform: rotate(170deg) translateX(500px);
  transform: rotate(170deg) translateX(500px);
}
.rolling-slider .item:nth-child(2) > * {
  -webkit-transform: translate(-50%, -50%) rotate(-170deg);
  -moz-transform: translate(-50%, -50%) rotate(-170deg);
  -ms-transform: translate(-50%, -50%) rotate(-170deg);
  -o-transform: translate(-50%, -50%) rotate(-170deg);
  transform: translate(-50%, -50%) rotate(-170deg);
}
.rolling-slider .item:nth-child(3) {
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: rotate(150deg) translateX(500px);
  -moz-transform: rotate(150deg) translateX(500px);
  -ms-transform: rotate(150deg) translateX(500px);
  -o-transform: rotate(150deg) translateX(500px);
  transform: rotate(150deg) translateX(500px);
}
.rolling-slider .item:nth-child(3) > * {
  -webkit-transform: translate(-50%, -50%) rotate(-150deg);
  -moz-transform: translate(-50%, -50%) rotate(-150deg);
  -ms-transform: translate(-50%, -50%) rotate(-150deg);
  -o-transform: translate(-50%, -50%) rotate(-150deg);
  transform: translate(-50%, -50%) rotate(-150deg);
}
.rolling-slider .item:nth-child(4) {
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: rotate(130deg) translateX(500px);
  -moz-transform: rotate(130deg) translateX(500px);
  -ms-transform: rotate(130deg) translateX(500px);
  -o-transform: rotate(130deg) translateX(500px);
  transform: rotate(130deg) translateX(500px);
}
.rolling-slider .item:nth-child(4) > * {
  -webkit-transform: translate(-50%, -50%) rotate(-130deg);
  -moz-transform: translate(-50%, -50%) rotate(-130deg);
  -ms-transform: translate(-50%, -50%) rotate(-130deg);
  -o-transform: translate(-50%, -50%) rotate(-130deg);
  transform: translate(-50%, -50%) rotate(-130deg);
}
.rolling-slider .item:nth-child(5) {
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: rotate(110deg) translateX(500px);
  -moz-transform: rotate(110deg) translateX(500px);
  -ms-transform: rotate(110deg) translateX(500px);
  -o-transform: rotate(110deg) translateX(500px);
  transform: rotate(110deg) translateX(500px);
}
.rolling-slider .item:nth-child(5) > * {
  -webkit-transform: translate(-50%, -50%) rotate(-110deg);
  -moz-transform: translate(-50%, -50%) rotate(-110deg);
  -ms-transform: translate(-50%, -50%) rotate(-110deg);
  -o-transform: translate(-50%, -50%) rotate(-110deg);
  transform: translate(-50%, -50%) rotate(-110deg);
}
.rolling-slider .item:nth-child(6) {
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: rotate(90deg) translateX(500px);
  -moz-transform: rotate(90deg) translateX(500px);
  -ms-transform: rotate(90deg) translateX(500px);
  -o-transform: rotate(90deg) translateX(500px);
  transform: rotate(90deg) translateX(500px);
}
.rolling-slider .item:nth-child(6) > * {
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
  -moz-transform: translate(-50%, -50%) rotate(-90deg);
  -ms-transform: translate(-50%, -50%) rotate(-90deg);
  -o-transform: translate(-50%, -50%) rotate(-90deg);
  transform: translate(-50%, -50%) rotate(-90deg);
}
.rolling-slider .item:nth-child(7) {
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: rotate(70deg) translateX(500px);
  -moz-transform: rotate(70deg) translateX(500px);
  -ms-transform: rotate(70deg) translateX(500px);
  -o-transform: rotate(70deg) translateX(500px);
  transform: rotate(70deg) translateX(500px);
}
.rolling-slider .item:nth-child(7) > * {
  -webkit-transform: translate(-50%, -50%) rotate(-70deg);
  -moz-transform: translate(-50%, -50%) rotate(-70deg);
  -ms-transform: translate(-50%, -50%) rotate(-70deg);
  -o-transform: translate(-50%, -50%) rotate(-70deg);
  transform: translate(-50%, -50%) rotate(-70deg);
}
.rolling-slider .item:nth-child(8) {
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: rotate(50deg) translateX(500px);
  -moz-transform: rotate(50deg) translateX(500px);
  -ms-transform: rotate(50deg) translateX(500px);
  -o-transform: rotate(50deg) translateX(500px);
  transform: rotate(50deg) translateX(500px);
}
.rolling-slider .item:nth-child(8) > * {
  -webkit-transform: translate(-50%, -50%) rotate(-50deg);
  -moz-transform: translate(-50%, -50%) rotate(-50deg);
  -ms-transform: translate(-50%, -50%) rotate(-50deg);
  -o-transform: translate(-50%, -50%) rotate(-50deg);
  transform: translate(-50%, -50%) rotate(-50deg);
}
.rolling-slider .item:nth-child(9) {
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: rotate(30deg) translateX(500px);
  -moz-transform: rotate(30deg) translateX(500px);
  -ms-transform: rotate(30deg) translateX(500px);
  -o-transform: rotate(30deg) translateX(500px);
  transform: rotate(30deg) translateX(500px);
}
.rolling-slider .item:nth-child(9) > * {
  -webkit-transform: translate(-50%, -50%) rotate(-30deg);
  -moz-transform: translate(-50%, -50%) rotate(-30deg);
  -ms-transform: translate(-50%, -50%) rotate(-30deg);
  -o-transform: translate(-50%, -50%) rotate(-30deg);
  transform: translate(-50%, -50%) rotate(-30deg);
}
.rolling-slider .item:nth-child(10) {
  visibility: visible;
  pointer-events: auto;
  -webkit-transform: rotate(10deg) translateX(500px);
  -moz-transform: rotate(10deg) translateX(500px);
  -ms-transform: rotate(10deg) translateX(500px);
  -o-transform: rotate(10deg) translateX(500px);
  transform: rotate(10deg) translateX(500px);
}
.rolling-slider .item:nth-child(10) > * {
  -webkit-transform: translate(-50%, -50%) rotate(-10deg);
  -moz-transform: translate(-50%, -50%) rotate(-10deg);
  -ms-transform: translate(-50%, -50%) rotate(-10deg);
  -o-transform: translate(-50%, -50%) rotate(-10deg);
  transform: translate(-50%, -50%) rotate(-10deg);
}
.rolling-slider .item:nth-child(11) {
  visibility: visible;
  -webkit-transform: rotate(-10deg) translateX(500px);
  -moz-transform: rotate(-10deg) translateX(500px);
  -ms-transform: rotate(-10deg) translateX(500px);
  -o-transform: rotate(-10deg) translateX(500px);
  transform: rotate(-10deg) translateX(500px);
}
.rolling-slider .item:nth-child(11) > * {
  -webkit-transform: translate(-50%, -50%) rotate(10deg);
  -moz-transform: translate(-50%, -50%) rotate(10deg);
  -ms-transform: translate(-50%, -50%) rotate(10deg);
  -o-transform: translate(-50%, -50%) rotate(10deg);
  transform: translate(-50%, -50%) rotate(10deg);
}

.item > * {
  width: 100px;
  height: 100px;
}
.item img {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
